<%= form_for @image_subject do |form| %>
  <% if controller.controller_name == 'image_subjects' %>
    <%= render "shared/error_messages", :object => @discussion %>
  <% end %>

  <div class='field'>
    <%= text_field_tag 'discussion_name', nil, placeholder: "Name your discussion" %>
  </div>
  <div class='field'>
    <label class="file">
      <span>Upload a file</span>
      <%= form.file_field :image %>
    </label>
  </div>
  <div class="drop"></div>
  <div class='action'>
    <%= form.submit 'Discuss', class: 'btn btn-primary' %>
  </div>
<% end %>
