<%= form_for @image_subject do |form| %>
  <%= render "shared/error_messages", :object => @image_subject %>

  <div class='field'>
    <%= text_field_tag 'discussion_name', nil, placeholder: "Name your discussion" %>
  </div>
  <div class='field'>
    <label class="file">
      Upload a file
      <%= form.file_field :image %>
    </label>
  </div>
  <div class='action'>
    <%= form.submit 'Discuss', class: 'btn btn-primary' %>
  </div>
<% end %>
