<%= form_for @text_subject do |form| %>
  <% if controller.controller_name == 'text_subjects' %>
    <%= render "shared/error_messages", :object => @discussion %>
  <% end %>

  <div class='field'>
    <%= text_field_tag 'discussion_name', nil, placeholder: "Name your discussion" %>
  </div>
  <div class='field'>
    <%= form.select :language, TextSubject::AVAILABLE_LANGUAGES %>
  </div>
  <div class='field'>
    <%= form.text_area :content %>
  </div>
  <div class='action'>
    <%= form.submit 'Discuss', class: 'btn btn-primary' %>
  </div>
<% end %>
