<div id='chat-container'>

  <% content_for :javascript do %>
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      <% if Rails.env.development? %>
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) window.console.log(message);
        };

        // Flash fallback logging - don't include this in production
        WEB_SOCKET_DEBUG = true;
      <% end %>

      var pusher = new Pusher('acecc5ffed2935bdc2d9');
      var channel = pusher.subscribe('<%= @discussion.url %>');
      channel.bind('new_message', function(data) {
        $("#chat").append(data.message);
        if(data.user_id == '<%= current_user.id %>') {
          $("#new_message")[0].reset();
        }
      });

      // Send on 'return'
      $('#message_content').keypress(function(e) {
        if(e.which == 13) {
          e.preventDefault();
          $('form#new_message').submit();
          return false;
        }
      });
    </script>
  <% end %>

  <ul id="chat">
    <%= render @messages %>
  </ul>

  <% if current_user.has_full_name? %>
    <%= form_for @message, url: discussion_messages_path(@discussion), remote: true do |f| %>
      <%= f.text_area :content, class: 'input-xlarge', rows: '3' %>
      <%= f.submit "Send", class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <p>
      Don't be a stranger! Enter your name
      <% unless signed_in? %>, or <%= link_to 'sign in', sign_in_path %>,<% end %>
      to begin chating.
    </p>
    <%= form_tag discussion_names_path(@discussion), id: "new_name" do %>
      <div class='control-group'>
        <%= text_field_tag :first_name, nil, placeholder: 'First name' %>
      </div>
      <div class='control-group'>
        <%= text_field_tag :last_name, nil, placeholder: 'Last name' %>
      </div>
      <div class='form-actions'>
        <%= submit_tag 'Join discussion', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
