<% content_for :javascript do %>
  <%= javascript_include_tag 'discussions/discussion' %>
  <%= javascript_include_tag 'ZeroClipboard' %>
<% end %>

<section class='view'>
  <h2 data-role="discussion-name"><%= @discussion.name %></h2>
  <ul class="toolbar">
    <li><%= link_to_raw_subject(@discussion.subject) %></li>
  </ul>
  <%= render @discussion.subject %>
</section>

<section class='chat'>
  <%= render 'chat' %>
</section>
