<% unless current_user.email %>
  <%= form_for Guest.new, url: discussion_guests_path(@discussion) do |f| %>
    <%= f.text_field :email %>
    <%= f.submit 'Join discussion' %>
  <% end %>
<% end %>

<h2 data-role="discussion-name"><%= @discussion.name %></h2>
<%= render @discussion.subject %>

<%= render 'chat' %>
