<!DOCTYPE html>
<html>
<head>
  <title>Thoughts on This</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <header>
    <nav>
      <div class="nav-wrap">
        <%= link_to 'Thoughts on This', root_path, class: 'brand' %>
        <ul class="user">
          <% if signed_in? %>
          <li><%= link_to 'New Discussion', dashboard_path %></li>
            <li class="dropdown">
              <a class="user-menu" href='#'><%= current_user.email %></a>
              <ul class="menu-content">
                <li><%= link_to "Your Discussions", discussions_path %></li>
                <li><%= link_to "Sign out", sign_out_path, :method => :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", sign_in_path %></li>
          <% end %>
        </ul>
      </div> <!-- .navbar-wrap -->
    </nav>
  </header>

  <div class="main-wrap">
    <% flash.each do |key, value| -%>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
